@page "/"

<PageTitle>Inicio</PageTitle>

<h1 style="margin-left: 30px; margin-top: 10px;">Bienvenido al Sistema de Ventas La Tienda!</h1>
<br />

<h5 style="margin-left: 20px; margin-top: 10px;">Aquí podras realizar tus ventas.</h5>
